@font-face {
  font-family: 'Circular Book';
  font-style: normal;
  font-weight: normal;
  src: local("Circular Book"), url("../font/lineto-circular-pro-book.woff") format("woff"); }
html, body {
  font-family: "Circular Book";
  font-size: 14px;
  color: #767676; }

#chevron {
  display: none; }

/*
*
*############################### header
*
*/
header .logo-header {
  display: inline-flex;
  /*
  *
  *####################### navigation
  *
  */ }
  header .logo-header figure {
    margin: 0;
    padding: 0; }
    header .logo-header figure .img-header {
      width: 20px;
      height: 20px;
      content: url("../img/media.svg"); }
      header .logo-header figure .img-header:after {
        content: url("../img/media.svg"); }
      header .logo-header figure .img-header:before {
        display: none; }
  header .logo-header #nav {
    margin-top: 15px;
    display: inline-block; }
  header .logo-header #nav ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0; }
  header .logo-header #nav ul a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 32px;
    padding: 0 15px; }
  header .logo-header #nav ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0; }
  header .logo-header #nav ul li:hover {
    background: #f6f6f6; }
  header .logo-header #nav ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0; }
  header .logo-header #nav ul ul li {
    float: none;
    width: 200px; }
  header .logo-header #nav ul ul a {
    line-height: 120%;
    padding: 10px 15px; }
  header .logo-header #nav ul ul ul {
    top: 0;
    left: 100%; }
  header .logo-header #nav ul li:hover > ul {
    display: block; }

/*
*
*############################### title airbnb
*
*/
.container {
  width: 85%;
  margin: 0 auto; }
  .container .head {
    /*
    *
    *######################### form search
    *
    */ }
    .container .head h1 {
      padding: 0 15px 0 0;
      font-size: 20px;
      color: #868686; }
      .container .head h1 span {
        color: #FF5A5F; }
    .container .head #form-top_m button {
      vertical-align: middle;
      height: 45px;
      position: relative;
      width: 100%;
      background-color: transparent;
      border-style: none;
      border: 0.5px solid #868686;
      border-radius: 3px;
      color: #868686; }
      .container .head #form-top_m button img {
        position: absolute;
        top: 10px;
        left: 0;
        vertical-align: middle;
        margin: 0 25px 0 0;
        padding: 0; }
    .container .head #form-top {
      display: none; }
  .container nav {
    width: 300px; }
    .container nav ul {
      padding: 50px 0 0 0;
      margin: 0;
      border-bottom: 0.5px solid #868686;
      display: flex;
      justify-content: space-between; }
      .container nav ul li {
        list-style-type: none; }
        .container nav ul li #first {
          color: #48A6AA; }
        .container nav ul li a {
          font-weight: bold;
          text-decoration: none;
          font-size: 11px;
          color: #868686; }

/*
*
*
*################################### image
*
*/
.top h2, .top .prev {
  display: inline-block; }
.top h2 {
  width: 250px; }
.top .prev img {
  transform: rotate(260deg); }
.top .img {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  overflow: scroll;
  /*
  *
  *################################## image top
  *
  */
  /*
  *
  *################################# image second level
  *
  */
  /*
  *
  *
  *#################################### image third level
  *
  */ }
  .top .img .figure {
    margin-right: 12px; }
    .top .img .figure .star {
      height: 0.7em;
      width: 0.7em;
      content: url("../img/star.svg"); }
      .top .img .figure .star:after {
        content: url("../img/star.svg"); }
      .top .img .figure .star:before {
        display: none; }
    .top .img .figure .star2 {
      height: 0.7em;
      width: 0.7em;
      content: url("../img/star2.svg"); }
      .top .img .figure .star2:after {
        content: url("../img/star.svg"); }
      .top .img .figure .star2:before {
        display: none; }
  .top .img figure {
    padding: 0;
    margin: 0; }
    .top .img figure span {
      font-weight: bold; }
  .top .img .figure1 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure.jpg"); }
    .top .img .figure1:after {
      content: url("../img/figure_s/figure.jpg"); }
    .top .img .figure1:before {
      display: none; }
    .top .img .figure1 figcaption {
      width: 130px; }
  .top .img .figure2 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure2_s.jpg"); }
    .top .img .figure2:after {
      content: url("../img/figure_s/figure2_s.jpg"); }
    .top .img .figure2:before {
      display: none; }
  .top .img .figure3 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure3_s.jpg"); }
    .top .img .figure3:after {
      content: url("../img/figure_s/figure3_s.jpg"); }
    .top .img .figure3:before {
      display: none; }
  .top .img .figure4 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure4_s.jpg"); }
    .top .img .figure4:after {
      content: url("../img/figure_s/figure4_s.jpg"); }
    .top .img .figure4:before {
      display: none; }
  .top .img .figure5 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure5_s.jpg"); }
    .top .img .figure5:after {
      content: url("../img/figure_s/figure5_s.jpg"); }
    .top .img .figure5:before {
      display: none; }
  .top .img .figure6 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure6_s.jpg"); }
    .top .img .figure6:after {
      content: url("../img/figure_s/figure6_s.jpg"); }
    .top .img .figure6:before {
      display: none; }
  .top .img .figure7 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure7_s.jpg"); }
    .top .img .figure7:after {
      content: url("../img/figure_s/figure7_s.jpg"); }
    .top .img .figure7:before {
      display: none; }
  .top .img .figure8 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure8_s.jpg"); }
    .top .img .figure8:after {
      content: url("../img/figure_s/figure8_s.jpg"); }
    .top .img .figure8:before {
      display: none; }
  .top .img .figure9 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure9_s.jpg"); }
    .top .img .figure9:after {
      content: url("../img/figure_s/figure9_s.jpg"); }
    .top .img .figure9:before {
      display: none; }
  .top .img .figure10 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure10_s.jpg"); }
    .top .img .figure10:after {
      content: url("../img/figure_s/figure10_s.jpg"); }
    .top .img .figure10:before {
      display: none; }
  .top .img .figure11 {
    width: 293px;
    height: 195px;
    content: url("../img/figure_s/figure11_s.jpg"); }
    .top .img .figure11:after {
      content: url("../img/figure_s/figure11_s.jpg"); }
    .top .img .figure11:before {
      display: none; }
  .top .img .figure12 {
    width: 293px;
    height: 195px;
    content: url("../img/figure_s/figure12_s.jpg"); }
    .top .img .figure12:after {
      content: url("../img/figure_s/figure12_s.jpg"); }
    .top .img .figure12:before {
      display: none; }
  .top .img .figure13 {
    width: 293px;
    height: 195px;
    content: url("../img/figure_s/figure13_s.jpg"); }
    .top .img .figure13:after {
      content: url("../img/figure_s/figure13_s.jpg"); }
    .top .img .figure13:before {
      display: none; }
  .top .img .figure14 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure14_s.jpg"); }
    .top .img .figure14:after {
      content: url("../img/figure_s/figure14_s.jpg"); }
    .top .img .figure14:before {
      display: none; }
  .top .img .figure15 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure15_s.jpg"); }
    .top .img .figure15:after {
      content: url("../img/figure_s/figure15_s.jpg"); }
    .top .img .figure15:before {
      display: none; }
  .top .img .figure16 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure16_s.jpg"); }
    .top .img .figure16:after {
      content: url("../img/figure_s/figure16_s.jpg"); }
    .top .img .figure16:before {
      display: none; }
  .top .img .figure17 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure17_s.jpg"); }
    .top .img .figure17:after {
      content: url("../img/figure_s/figure17_s.jpg"); }
    .top .img .figure17:before {
      display: none; }
  .top .img .figure18 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure18_s.jpg"); }
    .top .img .figure18:after {
      content: url("../img/figure_s/figure18_s.jpg"); }
    .top .img .figure18:before {
      display: none; }
  .top .img .figure19 {
    width: 130px;
    height: 195px;
    content: url("../img/figure_s/figure19_s.jpg"); }
    .top .img .figure19:after {
      content: url("../img/figure_s/figure19_s.jpg"); }
    .top .img .figure19:before {
      display: none; }

/*# sourceMappingURL=style.css.map */
